
/* @import url('https://fonts.googleapis.com/css2?family=Assistant&family=Poppins&family=Sora&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Poppins:wght@400;600&family=Sora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Itim&family=Pacifico&family=Poppins:wght@400;600&family=Sora&display=swap');


*{
    margin:0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* font-family: 'Sora', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.nav h2{
    font-family: 'Itim', cursive;
}

.main{
    height: 100%;
    width: 100%;
    position: relative; 
}

.nav{
    height: 80px;
    /* width: 100%; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 4vw;
    border-bottom: 2px solid #dadada;
}

.nav-2{
    display: flex;
    gap: 2vw;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.nav h2{
    font-size: 2vw;
    font-weight: 900;
}

.nav i{
    font-size: 1.4vw;
    display: none;
}

.content{
    width: 100%;
    height: calc(100% - 80px);
    /* background-color: bisque; */
    display: flex;
}

.left{
    /* height: 100%; */
    width: 55%;
    /* background-color: blue; */
    padding: 4vw 4vw;

}

.left h1{
    font-size: 4vw;
}

.left h1 span{
    color: rgb(26, 209, 148);
}

.left p{
    font-size: 1.4vw;
    width: 80%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    color: #999999;
}

button {
    font-size: 1.2vw;
    padding: 1vw 2vw;
    color: white;
    border: none;
    border-radius: 4px;
    background-color:rgb(26, 209, 148);
    /* background-color: black ; */
}
button:hover {
    background-color:rgb(0, 196, 130);
}

.right{
    height: 100%;
    width: 50%;
    /* background-color: brown; */
    /* padding: 4vw 4vw; */
    background-image: url(https://images.unsplash.com/photo-1588196749597-9ff075ee6b5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
    background-position: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color:rgb(26, 209, 148);
}
@media (max-width:600px) {
    .nav{
        /* background-color: aquamarine; */
        /* color: white; */
        padding: 0vw 5vw;
        height: 60px;
    }

    .nav-2 i{
        font-size: 5vw;
        display: block;
        /* background-color: blue; */
        /* color: black; */
    }

    .nav h2{
        font-size: 6vw;
    }
    .nav h4{
        display: none;
    }

    .content{
        flex-direction: column;
        height: calc(100% - 60px);
        /* width: 100%; */
    }

    .left{
        width: 90%;
        height: 45%;
        padding: 4vw 3vw;
        /* background-color: red; */
    }

    .left h1 {
        font-size: 8vw;
        /* padding: 1vw 1vw; */
        width: 100%;
        padding-left: 2vw;
        line-height: 55px;
        margin-top: 1vw;
    }

    .left button {
        padding: 4vw 6vw;
        font-size: 4vw;
        margin-top: 3vw;
        margin-left: 2vw;
    }
    .left p{
        font-size: 4vw;
        margin: 4vw 0vw;
        width: 100%;
        margin-left: 2vw;
    }
    .right{
        height: 55%;
        width: 100%;
        /* margin-top: 8vw; */
    }

    .nav-2 button {
        display: none;
    }
}